<input type="file" class="form-control" file-input="file">
<button type="button" class="btn btn-primary btn-block"
        ng-click="submit()">Submit</button>

<div class="table-responsive">
<table class="table table-hover table-stripped" ng-show="metadata">
  <tr>
    <th>File Name</th>
    <th>New Name</th>
    <th>File Size</th>
    <th>Mime Type</th>
  </tr>
  <tr ng-repeat="data in metadata">
    <td>{{ data.name }}</td>
    <td>{{ data.newName }}</td>
    <td>{{ data.size }}</td>
    <td>{{ data.mime }}</td>
  </tr>
</table>
</div>
